header {
  background: #fff;
  margin-top: 0;
  display: block;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  margin: 0;
  text-align: flex;
  padding: 1rem;
  box-shadow: 0 1px 8px rgba(108, 108, 108, 0.6);
}

img {
  width: 12rem;
  height: 4rem;
  margin-left: 4rem;
}
