header {
  background: #d9d8dc;
  margin-top: 0;
  display: block;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  margin: 0;
  text-align: flex;
  padding: 1rem;
  box-shadow: 0 1px 8px rgba(108, 108, 108, 0.6);
}

h1 {
  font-size: 1.3rem;
  margin: 0 0 0 3rem;
  padding: 0;
}

p {
  margin: 0;
  font-size: 0.8rem;
  text-wrap: balance;
}
