<app-add-user (username)="onNewUser($event)" />

@if (isFetchingUsers && !errorMessage) {
  <p>Fetching Users...</p>
}

@if (isAddingUser && !errorMessage) {
  <p>Adding New User...</p>
}

@if (errorMessage) {
  <p class="fallback-text">{{ errorMessage }}</p>
}
@if (userAvailable > 0) {
  <ul class="button-group">
    <h3>User List:</h3>
    @for (user of users; track user.userId) {
      <app-users-list [user]="user" (selectedUser)="onSelectUser($event)" />
    }
  </ul>
} @else if (userAvailable === 0 && !errorMessage) {
  <p class="user-fallback">No User Found!</p>
}
