* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  background: #f6f5f8;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
  height: 100%;
}
